body {
    display: flex;
    flex-direction: column;
}

.card {
    width: 300px;
    height: 400px;
    background-color: aqua;
    margin: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

button {
    width: 6rem;
    height: fit-content;
    padding: 0.5rem;
    font-size: 0.7rem;
}